<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body style="display:flex; flex-direction: column; height: 100vh; width: 100vw; margin:0; padding:0;">
    <%- include('header', { title: "Student Report", subtitle: "List of Students and Their Details" }) %>
    <h2> Reports : </h2>
    <div style="display:flex; flex-wrap: wrap; gap:10px; justify-content: center; flex-grow:1; overflow: auto; overflow-y: hidden;">
        <% for ( let i of student) { %>
            <div
                style=" max-height: 200px;  border: 1px solid #ccc; padding: 10px; margin: 10px 0; border-radius: 5px; background-color: #f9f9f9;">
                <p style="font-weight: bold; color: #333;">Name: <%= i.name %>
                </p>
                <p style="color: #555;">Grade: <%= i.grade %>
                </p>
                <p style="color: #555;">Favourite Subject: <%= i.favouriteSubject %>
                </p>
            </div>
            <br />
            <% } %>
    </div>

    <%- include('footer') %>

</body>

</html>